.button {
    -fx-font-weight: bold;
}

.testButton{
    -fx-background-color: orange;
}

.hiddenButton{
    -fx-background-color: royalblue;
}

.test {   
    -fx-fill: orange;
    -fx-font-weight: bold;
}

.hidden {
    -fx-fill: royalblue;
    -fx-font-weight: bold;
}

.normal {
    -fx-fill: black;
}
